body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;

}

img {
    position: absolute;
    width: 204px;
    height: 33.54px;
    left: 44px;
    top: 34px;

}

h1 {
    position: absolute;
    width: 571px;
    height: 153px;
    left: 421px;
    top: 288px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 51px;
}

.form-group input {

    position: absolute;
    width: 600px;
    height: 70px;
    left: 420px;
    top: 511px;
    
    background: #F5F5F5;
    border-radius: 11px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    box-sizing: border-box;
    border: none;

}

.input-text {
    padding: 24px;
}

.btn {
    position: absolute;
    width: 134px;
    height: 70px;
    left: 886px;
    top: 511px;
    z-index: 2;
    color: #FFFFFF;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;

    background: #091FE8;
    border-radius: 11px;
    border: none;
}

h2 {
    position: absolute;
    width: 207px;
    height: 22px;
    left: 650px;
    top: 796px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    text-align: center;
    text-transform: lowercase;

    color: #091FE8;
}

h3 {
    position: relative;
    width: 400px;
    height: 34px;
    top: 169px;
    left: 595px;
    

    font-size: 28px;
    line-height: 34px;
    /* identical to box height */


    color: #091FE8;
}

.list {
    list-style-type: none;
    text-decoration: none;

    position: absolute;
    width: 600px;
    height: 88px;
    left: 420px;
    top: 420px;
    
}

li {
   
    border-radius: 11px;
    text-decoration: none;
    color: #000000;
    width: 600px;
}

.store {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.add {
    font-size: 13px;
    line-height: 16px;
}

li a {
    text-decoration: none;
    color: #000000;
}

.wrapper {
    background: #F9F9F9;
    box-shadow: 4px 4px 8px #E2E2E2;
    border-radius: 11px;
    padding: 16px 24px;
}

.parent {
    margin: 24px;
    width: 600px;
}

.everything {
    margin-left: auto;
    margin-right: auto;
}

.upload {
    background: #F9F9F9;
    box-shadow: 4px 4px 8px #E2E2E2;
    border-radius: 11px;
    padding: 16px 24px;
    list-style-type: none;
    margin-bottom: 30px;
}

.uploadlist {
    margin: 24px;
    width: 600px;

    position: absolute;
    height: 88px;
    left: 470px;
    top: 320px;
    list-style-type: none;
}

.uploads {
    list-style-type: none;
    text-decoration: none;
}

li.items {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 5px;
    font-style: bold;
}

img.instock {
    width: 12px;
    height: 12px;
    padding-top: 5px;

    position: absolute;
    width: 12px;
    height: 12px;
    left: 30px;
    top: 33px;
}

img.lowstock {
    width: 12px;
    height: 12px;
    padding-top: 5px;

    position: absolute;
    width: 12px;
    height: 12px;
    left: 30px;
    top: 65px;
}

img.outofstock {
    width: 12px;
    height: 12px;
    padding-top: 5px;

    position: absolute;
    width: 12px;
    height: 12px;
    left: 30px;
    top: 97px;
}

.backarrow {
    position: absolute;
    width: 20px;
    height: 22px;
    left: 500px;
    top: 220px;

}

.key {
    position: absolute;
    width: 600px;
    height: 74px;
    left: 480px;
    top: 540px;
}

.time {
    position: absolute;
    width: 92px;
    height: 17px;
    left: 990px;
    top: 437px;

    font-size: 14px;
    line-height: 17px;
    color: #091FE8;

}

.welcome {
    position: absolute;
    left: 50px;
}

.submit {
    position: absolute;
    width: 600px;
    height: 70px;
    left: 420px;
    top: 511px;
    
    background: #F5F5F5;
    border-radius: 11px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    box-sizing: border-box;
    border: none;
}